/* top left controls */

.toggle-satellite {
  display: none;
  position: absolute;
  top: 7.5px;
  left: 7.5px;
  width: 2.4em;
  height: 2.4em;

  &.enabled {
    display: block;
  }

  &.active {
    background-color: rgb(99 102 241);
    button {
      background-color: #d5d3d3;
    }
  }

  button {
    width: calc(100% - 2px);
    height: calc(100% - 2px);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  img {
    height: 100%;
    max-width: 100%;
    padding: 4px;
  }
}

.ol-zoom {
  top: calc(7.5px + 2.4em + 7.5px);
}

.ol-rotate {
  left: 7px;
  right: unset;
  top: calc(7.5px + 2em + 7.5px + 1.375em * 2 + 7.5px);
}

/* end top left controls */

.map-guess-marker,
.map-target-marker {
  width: 40px;
  height: 40px;
  background-size: contain;
}

.map-guess-marker {
  background-image: url("./guessMarker.svg");
}

.map-target-marker {
  background-image: url("./targetMarker.svg");
}

.ol-attribution {
  max-width: calc(100% - 400px);
  right: 85px;
}

.mapbox-logo {
  position: absolute;
  display: block;
  height: 20px;
  width: 65px;
  right: 10px;
  bottom: 10px;
  text-indent: -9999px;
  z-index: 49;
  overflow: hidden;

  background-image: url(/mapbox-logo-black.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 65px 20px;
}
